include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.md
include requirements_dev.txt
recursive-include requirements* *

prune **/__pycache__
prune **/data
prune docs/_build
prune .vscode
prune .tox
prune .pytest_cache
prune .mypy_cache

recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif
